<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="ToDoAppContainerName" value="todo-app"/>>
    <Parameter name="ToDoAppPort" value="8080"/>>

    <Parameter name="SeleniumClusterContainerName" value="my-chrome"/>>
    <Parameter name="SeleniumClusterPort" value="4444"/>>

    <!--WebDriver-->
    <Parameter name="IsLocalBrowser" value="false"/>
    <Parameter name="Browser" value="Chrome"/>
    <Parameter name="Timeout" value="60"/>
    <Parameter name="IsHeadlessMode" value="false"/>
    <!--End WebDriver-->
  </TestRunParameters>
</RunSettings>