<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>

    <!--WebDriver-->
    <Parameter name="RunType" value="SeleniumGrid"/>
    <Parameter name="Browser" value="Chrome"/>
    <Parameter name="Timeout" value="20"/>
    <!--End WebDriver-->
  </TestRunParameters>
</RunSettings>