<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="ToDoApplicationUrl" value="http://todomvc.com/examples/vue/"/>>
    <Parameter name="SeleniumClusterUrl" value="http://localhost:4444/wd/hub"/>>

    <!--WebDriver-->
    <Parameter name="RunType" value="Selenoid"/>
    <Parameter name="Browser" value="Chrome"/>
    <Parameter name="Timeout" value="20"/>
    <Parameter name="EnableVnc" value="true"/>
    <Parameter name="EnableVideoRecording" value="false"/>
    <Parameter name="EnableLogWritting" value="false"/>
    <!--End WebDriver-->
  </TestRunParameters>
</RunSettings>