<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="ToDoApplicationUrl" value=""/>>

    <!--WebDriver-->
    <Parameter name="Browser" value="Chrome"/>
    <Parameter name="Timeout" value="60"/>
    <Parameter name="IsHeadlessMode" value="false"/>
    <!--End WebDriver-->
  </TestRunParameters>
</RunSettings>